body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
/*  overflow: hidden;
*/}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

li a {
    display: block;
    color: black;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.flex_container {
  display: flex;
}
.navbar img {
  margin-top: 5%;
  width: 45%;
  height: 7%;
  margin-right: -300px;
}
.line {
  position: absolute;
  background-color: #000000;
}

.vertical { 
   width: 1px;
   height: 250px;
}

.horizontal {
   width: 500px;
   height: 1px;
}

#left-line1 {
   top: 65%;

}

#left-line2 {
   top: 70%;
   background-color: teal;
}
#middle-line1 {
  left: 35%;
  top: -10%;
  height: 200px;
}
#middle-line2 {
  top: -5%;
  left: 35%;
  background-color: teal;
  height: 200px;
}
#slight-right-line1 {
  right: 30%;
  bottom: -2%;
  height: 100px;
}
#slight-right-line2 {
  right: 30%;
  bottom: 3%;
  background-color: teal;
  height: 100px;
}
#right-line1 {
  right: 5%;
  top: 10%;
  height: 150px;
}
#right-line2 {
  right: 5%;
  top: 15%;
  height: 150px;
  background-color: teal;
}
#faq-line {
  margin-left: 24%;
  background-color: white;
  width: 50%;
  height: 5px;
}
/* for added rotation effects */
.forty-five {
   transform: rotate(40deg);
}
.navbar button {
  font-size: 16px;
  overflow: hidden;
  text-align: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  color: #469987;
  border-radius: 10px;
  border-color: #469987;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;

}
.navbar a  {
  font-size: 22px;

}
.nav_bar {
  display: flex;
}
.section-2 {
  background-color: #469987;
}
.section-3 {
  background-color: white;
}

.top_header {
  margin-top: 3%;
}
.top_header .flex-1 button {
  font-size: 28px;
  overflow: hidden;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #469987;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.flex-1 {
  margin-left: 30px;
}
 h1 {
  font-size: 60px;
  font-style: bold;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /* Adjust as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
.top_header h2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  display: block;
  }
.top_header .center_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 65%;
  height: 60%;
  text-align: center; }
.top_header {
  display: flex;
}
.navbar {
  padding-right: 10%;
  padding-top: 10px;
}

.top_header .flex-1 {
  flex-grow: 6;
  text-align: left;
  margin-left: 10%;
}
.top_header .flex-1 h2 {
  color: grey;
}
.top_header .flex-2 {
  flex-grow: 5;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.section-2 {
  color: white;
  text-align: center;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  
    margin-top: -3.1%;
}

.section-2 h1 {
  padding-top: 5%;
  text-align: center;
  font-size: 60px;
  font-style: bold;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  
}
.section-2 h2 {
  font-size: 38px;
  float: left;
  margin-left: 10%;
}
.section-2 h3 {
  font-size: 34px;
  font-style: italic;
}
.section-2 h4 {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 5%;
  font-size: 22px;
}
.section-3 h1 {
  text-align: center;
  font-size: 60px;
  font-style: bold;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  
}
.section-2 .flex-image-1 img {
  height: 10%;
  width: 20%;
}
.section-2 .flex-image-2 img {
  height: 10%;
  width: 10%;
  align-items: center;
}
.section-2 .flex-image-3 img {
  width: 30%;
  height: 10%;
}
.section-4 {
    background-color: #469987;
    text-align: center;
    padding-top: 3%;
    color: white;
    padding-bottom: 5%;
}
.faq-item p {
  font-size: 72px;
}
#hosting-orgs {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact {
  text-align: center;
}
#hosting-orgs img {
  height: 10%; 
  width: 10%;
}
.org-logo {
  height: 100%;
}

.section-4 h2{
  font-size: 40px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  
}
.faq-item {
  padding-top: 5%;
  padding-left: 15%;
  color: #69caf9;
}
.faq-item h3 {
  text-align: left;
  font-size: 35px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  
}
.faq-item p {
  text-align: left;
  font-size: 20px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;  
  color: white;
}
/*.section-2 .flex-image .flex-image-1 {
  flex-grow: 1;

}
.section-2 .flex-image .flex-image-2 {
  flex-grow: 1;

}
.section-2 .flex-image .flex-image-3 {
  flex-grow: 1;

}*/

.light-dark-gradient {
  height: 16vh;

  background: #469987;
  background: -webkit-linear-gradient(white, #DCEFEB, #B3DCD3, #8bcabc, #70BEAD, #469987);
  background: -o-linear-gradient(white, #DCEFEB, #B3DCD3, #8bcabc, #70BEAD, #469987);
  background: -moz-linear-gradient(white, #DCEFEB, #B3DCD3, #8bcabc, #70BEAD, #469987);
  background: linear-gradient(white, #DCEFEB, #B3DCD3, #8bcabc, #70BEAD, #469987);
}

.dark-light-gradient {
  height: 16vh;

  background: white;
  background: -webkit-linear-gradient(#469987, #70BEAD, #8bcabc, #B3DCD3, #DCEFEB, white);
  background: -o-linear-gradient(#469987, #70BEAD, #8bcabc, #B3DCD3, #DCEFEB, white);
  background: -moz-linear-gradient(#469987, #70BEAD, #8bcabc, #B3DCD3, #DCEFEB, white);
  background: linear-gradient(#469987, #70BEAD, #8bcabc, #B3DCD3, #DCEFEB, white);
}
.contact {
   display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.email img {
  height: 50px;
  width: 50px;
}
.contact-section {
  text-align: center;
}
.fb img {
  height: 8%;
  width: 18%;
}
#footer {
  padding-bottom: 5vh;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-3 h3 {
  font-style: italic;
  text-align: center;
}
.be-logo {
  height: 20%;
  width: 35%;
  margin-left: 60%;
}
.esuc {
  height: 20%;
  width: 20%;
  margin-left: -10%;
}
.sep {
  width: 50%;
  height: 15%;
  margin-right: 60%;
}
#faq-images {
  padding-bottom: 5vh;

  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -5%;
}
#contact h1 {
  text-align: center;
}
.footer-icon {
  height: 5%;
  padding: 10px;
}
/*@keyframes typing {
  from {
    width: 0; }

  to {
    width: 75%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }

  30% {
    border-color: transparent; } }
*/